<html>
<head>
	<%= stylesheet_link_tag 'site' %>
<meta name="description" content="This is the Meta Description for Statics -- Three">
<title>This is the title for Statics -- Three </title>
<link href="http://www.youtube.com/v/aOZhbOhEunY&hl=en_US&fs=1&">
</head>
<body>
<div id="nav">
	<span style="float: right"> 
			<% if session[:user_id].nil? %>
			<%= link_to_unless_current "Login", :controller => 'users', :action => 'login'%>
			<% else %>
			<%= link_to_unless_current "Logout", :controller => 'users', :action => 'logout'%>
			<% end %>
	</span>
	
	<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
	<%= link_to_unless_current "One", :controller => 'statics', :action => 'one'%> |
	<%= link_to_unless_current "Two", :controller => 'statics', :action => 'two'%> |
	<%= link_to_unless_current "Three", :controller => 'statics', :action => 'three'%> |
	<%= link_to_unless_current "Four", :controller => 'statics', :action => 'four'%> |
	<%= link_to_unless_current "Five", :controller => 'statics', :action => 'five'%> 
</div>

<h1>Youtube Video Buzz</h1>
<p>On this page we have Youtube video. Please click the link and you should be able to buzz about this video. There should be a preview thumbnail of the video in the buzz when you post. (there is no buzz button on this page)<br /><br />
	<a href="http://buzz-staging.sandbox.google.com/buzz/post?url=http://www.youtube.com/watch?v=YHe3ag3i8v8 ">Click here to buzz</a> <br /><br />
	
	</p>
	<a title="Post on Google Buzz" class="google-buzz-button" href="http://buzz-staging.sandbox.google.com/buzz/post?url=http://www.youtube.com/watch?v=YHe3ag3i8v8" data-button-style="normal-count"></a>
	<script type="text/javascript" src="http://buzz-staging.sandbox.google.com/buzz/api/button.js"></script>
	<br /><br /><br /><br /><br /><br /><br /><br />
	</body>
	</html>
	