<html>
<head>
	<%= stylesheet_link_tag 'site' %>
<meta name="description" content="This is the Meta Description for Statics -- Three">
<title>This is the title for Statics -- Three </title>
<link rel="video_src" href="http://www.youtube.com/v/aOZhbOhEunY&hl=en_US&fs=1&">
</head>
<body>
<div id="nav">
	<span style="float: right"> 
			<% if session[:user_id].nil? %>
			<%= link_to_unless_current "Login", :controller => 'users', :action => 'login'%>
			<% else %>
			<%= link_to_unless_current "Logout", :controller => 'users', :action => 'logout'%>
			<% end %>
	</span>
	
	<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
	<%= link_to_unless_current "One", :controller => 'statics', :action => 'one'%> |
	<%= link_to_unless_current "Two", :controller => 'statics', :action => 'two'%> |
	<%= link_to_unless_current "Three", :controller => 'statics', :action => 'three'%> |
	<%= link_to_unless_current "Four", :controller => 'statics', :action => 'four'%> |
	<%= link_to_unless_current "Five", :controller => 'statics', :action => 'five'%> 
</div>

<h1>Normal Title, video in source</h1>
<p>On this page we have a youtube video in the source. You should be able to see a youtube video. in the preview when you buzz this page. <br /><br />
	<object width="480" height="385"><param name="movie" value="http://www.youtube.com/v/aOZhbOhEunY&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/aOZhbOhEunY&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
	</p>
	<a title="Post on Google Buzz" class="google-buzz-button" href="http://buzz-staging.sandbox.google.com/buzz/post" data-button-style="normal-count"></a>
	<script type="text/javascript" src="http://buzz-staging.sandbox.google.com/buzz/api/button.js"></script>
	<br /><br /><br /><br /><br /><br /><br /><br />
	</body>
	</html>
	