<% @page_title = @post.title%>

<h1><%= link_to_unless_current h(@post.title), @post %></h1>	
	<%= simple_format h(@post.body) %>

	<div id="postContent">
		Posted <%= @post.created_at.strftime("%A, %b %d")%> <br />
		<%= @post.comments.count%> comments
		<br />
	</div>

<div id="button">
	<a title="Post on Google Buzz" class="google-buzz-button" href="http://sandbox.google.com/buzz/api/post" data-button-style="normal-count"></a>
	<script type="text/javascript" src="http://sandbox.google.com/buzz/api/button.js"></script><br /><br />
	<!-- Include the Google Friend Connect javascript library. -->
	<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
	<!-- Define the div tag where the gadget will be inserted. -->
	<div id="div-4840632240895246411" style="width:100%;"></div>
	<!-- Render the gadget into a div. -->
	<script type="text/javascript">
	var skin = {};
	skin['HEIGHT'] = '62';
	skin['BUTTON_STYLE'] = 'counter';
	google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
	google.friendconnect.container.renderOpenSocialGadget(
	 { id: 'div-4840632240895246411',
	   url:'http://staging.friendconnect.google.com/friendconnect/gadgets/recommended_pages.xml',
	   height: 62,
	   site: '00339635363751239472',
	   'view-params':{"pageUrl":location.href,"pageTitle":(document.title ? document.title : location.href),"docId":"recommendedPages"}
	 },
	  skin);
	</script>

</div>
	
	<br /><br /><br /><br /><br />

<%= link_to 'Back', posts_path %>
	<% if session[:user_id] == "admin"%>
		| <%= link_to 'Edit', edit_post_path(@post) %> |
		<%= link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?" %>
	<% end %>
	
	<h2>Comments</h2>
	
	<div id="comments">
		<%= render :partial => @post.comments%>
	</div>
	
	
<% form_for [@post, Comment.new] do |f| %>
	<%= f.error_messages%>
	<p>
		<h2>New Comment</h2>
		<%= f.text_area :body %>
		
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>