<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Google Friend Connect: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'site' %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	<div id= "whole_page">
		<div id= "header">
			<%= image_tag "utest_logo.gif" %> Google Friend Connect </div>
			<div id= "nav">
					<span style="float: right"> 
							<% if session[:user_id].nil? %>
							<%= link_to_unless_current "Login", :controller => 'users', :action => 'login'%>
							<% else %>
							<%= link_to_unless_current "Logout", :controller => 'users', :action => 'logout'%>
							<% end %>
					</span>
					<% if session[:user_id] == "admin"%>
					<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
					<%= link_to_unless_current "About", :controller => 'site', :action => 'about'%> |
					<%= link_to_unless_current "Help", :controller => 'site', :action => 'help'%> |
					<%= link_to_unless_current "Users", :controller => 'users', :action => 'index'%>
					<% else %>
					<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
					<%= link_to_unless_current "About", :controller => 'site', :action => 'about'%> |
					<%= link_to_unless_current "Help", :controller => 'site', :action => 'help'%>
					<% end %>
			</div>
			<div id= "sidebar">
				<!-- Include the Google Friend Connect javascript library. -->
				<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
				<!-- Define the div tag where the gadget will be inserted. -->
				<div id="div-4906222249317141549" style="width:276px;border:1px solid #cccccc;"></div>
				<!-- Render the gadget into a div. -->
				<script type="text/javascript">
				var skin = {};
				skin['BORDER_COLOR'] = '#4d4e50';
				skin['ENDCAP_BG_COLOR'] = '#f2f8de';
				skin['ENDCAP_TEXT_COLOR'] = '#4d4e50';
				skin['ENDCAP_LINK_COLOR'] = '#60aa45';
				skin['ALTERNATE_BG_COLOR'] = '#ffffff';
				skin['CONTENT_BG_COLOR'] = '#ffffff';
				skin['CONTENT_LINK_COLOR'] = '#60aa45';
				skin['CONTENT_TEXT_COLOR'] = '#333333';
				skin['CONTENT_SECONDARY_LINK_COLOR'] = '#006b97';
				skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
				skin['CONTENT_HEADLINE_COLOR'] = '#4d4e50';
				skin['NUMBER_ROWS'] = '4';
				google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
				google.friendconnect.container.renderMembersGadget(
				 { id: 'div-4906222249317141549',
				   site: '00339635363751239472' },
				  skin);
				</script>
				<br/><br/>
				<!-- This is the code for the ratings gadget -->
				
				<!-- Include the Google Friend Connect javascript library. -->
				<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
				<!-- Define the div tag where the gadget will be inserted. -->
				<div id="div-7044652305708102362" style="width:282px;border:1px solid #cccccc;"></div>
				<!-- Render the gadget into a div. -->
				<script type="text/javascript">
				var skin = {};
				skin['BORDER_COLOR'] = '#4d4e50';
				skin['ENDCAP_BG_COLOR'] = '#f2f8de';
				skin['ENDCAP_TEXT_COLOR'] = '#4d4e50';
				skin['ENDCAP_LINK_COLOR'] = '#60aa45';
				skin['ALTERNATE_BG_COLOR'] = '#ffffff';
				skin['CONTENT_BG_COLOR'] = '#ffffff';
				skin['CONTENT_LINK_COLOR'] = '#60aa45';
				skin['CONTENT_TEXT_COLOR'] = '#333333';
				skin['CONTENT_SECONDARY_LINK_COLOR'] = '#006b97';
				skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
				skin['CONTENT_HEADLINE_COLOR'] = '#4d4e50';
				skin['DEFAULT_COMMENT_TEXT'] = '- add your review here -';
				skin['HEADER_TEXT'] = 'Ratings';
				skin['POSTS_PER_PAGE'] = '10';
				google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
				google.friendconnect.container.renderReviewGadget(
				 { id: 'div-7044652305708102362',
				   site: '00339635363751239472',
				   'view-params':{"disableMinMax":"false","scope":"SITE","startMaximized":"true"}
				 },
				  skin);
				</script>
				
				<!-- Include the Google Friend Connect javascript library. -->
				<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
				<!-- Define the div tag where the gadget will be inserted. -->
				<div id="div-9116218489827349712" style="width:180px;border:1px solid #cccccc;"></div>
				<!-- Render the gadget into a div. -->
				<script type="text/javascript">
				var skin = {};
				skin['BORDER_COLOR'] = '#cccccc';
				skin['ENDCAP_BG_COLOR'] = '#f2f8de';
				skin['ENDCAP_TEXT_COLOR'] = '#333333';
				skin['ENDCAP_LINK_COLOR'] = '#60aa45';
				skin['ALTERNATE_BG_COLOR'] = '#ffffff';
				skin['CONTENT_BG_COLOR'] = '#ffffff';
				skin['CONTENT_LINK_COLOR'] = '#60aa45';
				skin['CONTENT_TEXT_COLOR'] = '#333333';
				skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
				skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
				skin['CONTENT_HEADLINE_COLOR'] = '#333333';
				skin['HEADER_TEXT'] = 'Recommended stories';
				skin['RECOMMENDATIONS_PER_PAGE'] = '5';
				google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
				google.friendconnect.container.renderOpenSocialGadget(
				 { id: 'div-9116218489827349712',
				   url:'http://staging.friendconnect.google.com/friendconnect/gadgets/recommended_pages.xml',
				   site: '00339635363751239472',
				   'view-params':{"docId":"recommendedPages"}
				 },
				  skin);
				</script>
				
				
			</div>
			<div id= "content">
				<div id="notice"><%= flash[:notice] %></div>
				<%= yield %>
				<!-- Include the Google Friend Connect javascript library. -->
				<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
				<!-- Define the div tag where the gadget will be inserted. -->
				<div id="div-6809714242089339810"></div>
				<!-- Render the gadget into a div. -->
				<script type="text/javascript">
				var skin = {};
				skin['BORDER_COLOR'] = '#00a8cc';
				skin['ENDCAP_BG_COLOR'] = '#00a8cc';
				skin['ENDCAP_TEXT_COLOR'] = '#4d4e50';
				skin['ENDCAP_LINK_COLOR'] = '#ffffff';
				skin['ALTERNATE_BG_COLOR'] = '#ffffff';
				skin['CONTENT_BG_COLOR'] = '#ffffff';
				skin['CONTENT_LINK_COLOR'] = '#0000cc';
				skin['CONTENT_TEXT_COLOR'] = '#333333';
				skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
				skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
				skin['CONTENT_HEADLINE_COLOR'] = '#333333';
				skin['POSITION'] = 'bottom';
				skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
				skin['HEADER_TEXT'] = 'Comments';
				google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
				google.friendconnect.container.renderSocialBar(
				 { id: 'div-6809714242089339810',
				   site: '00339635363751239472',
				   'view-params':{"scope":"SITE","features":"video,comment","showWall":"true"}
				 },
				  skin);
				</script>
				
			</div>
		</div>
	</body>
</html>
						