<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Google Friend Connect: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'site' %>
</head>
<body>
	<div id= "whole_page">
		<div id= "header">
			<%= image_tag "utest_logo.gif" %> Google Friend Connect </div>
			<div id= "nav">
					<span style="float: right"> 
							<% if session[:user_id].nil? %>
							<%= link_to_unless_current "Login", :controller => 'users', :action => 'login'%> 
							<% else %>
							<%= link_to_unless_current "Logout", :controller => 'users', :action => 'logout'%>
							<% end %>
					</span>
						<% if session[:user_id] == "admin"%>
						<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
						<%= link_to_unless_current "About", :controller => 'site', :action => 'about'%> |
						<%= link_to_unless_current "Help", :controller => 'site', :action => 'help'%> |
						<%= link_to_unless_current "Users", :controller => 'users', :action => 'index'%>
						<% else %>
						<%= link_to_unless_current "Home", :controller => 'site', :action => 'index'%> |
						<%= link_to_unless_current "About", :controller => 'site', :action => 'about'%> |
						<%= link_to_unless_current "Help", :controller => 'site', :action => 'help'%>
						<% end %>
			</div>

			<div id= "content">
				<div id="notice"><%= flash[:notice] %></div>
				<%= yield %>
			</div>
		</div>
	</body>
</html>